<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header"}}
    <title>文章 - 我的 beego 博客</title>
</head>
<body>
{{template "navbar" .}}
<div class="container">
    <h1>文章列表</h1>
    <a href="/topic/add" class="btn btn-default">添加文章</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>文章名称</th>
            <th>最后更新</th>
            <th>浏览</th>
            <th>回复数</th>
            <th>最后回复时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .Topics}}
        <tr>
            <th>{{.Id}}</th>
            <th>{{.Title}}</th>
            <th>{{.Update}}</th>
            <th>{{.Views}}</th>
            <th>{{.ReplyCount}}</th>
            <th>{{.ReplyTime}}</th>
            <th>
                <a href="/topic/modify?id={{.Id}}">编辑</a>
                <a href="/topic/delete?id={{.Id}}">删除</a>
            </th>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function checkInput() {
        var name = document.getElementById("name");
        if (name.value.length == 0) {
            alert("请输入分类");
            return false;
        }
        return true;
    }
</script>
</body>
</html>